/* 
    Document   : theme
    Created on : Sep 28, 2013, 8:14:16 AM
    Author     : DeltaTiger
    Description:
        This is the main style sheet that is used commonly throught the website. Will try to keep stuff organized.
*/
body    {
    font-family: 'Open Sans', sans-serif;
}

root { 
    display: table;
}

#container  {
    width: 90%;
    min-width: 1024px;
    display: table-cell;
    vertical-align: middle;
    background: yellow;
}

#mBody  {
    
}

.line   {
    padding: 5px;
}

.shortInput {
    width: 75px;
}

.centerTextAlign    {
    text-align: center;
    font-size: 25px;
}

#navBar {
    width: 100%;
}

#navBar ul  {
    list-style-type: none;
}

#navBar li  {
    display: inline;
    padding-right: 10px;
}