/* 
    Document   : theme
    Created on : Sep 28, 2013, 8:14:16 AM
    Author     : DeltaTiger
    Description:
        This is the main style sheet that is used commonly throught the website. Will try to keep stuff organized.
*/
body    {
    font-family: 'Open Sans', sans-serif;
	background: #191714;
}

#container  {
	margin-top: 50px;
    width: 100%;
    min-width: 1024px;
    display: table;
}

#containerCenter	{
	width: 95%;
	margin: 0 auto;
}

#mBody  {
	width: 100%;
	min-height: 100px;
	padding: 5px;
}

.line   {
    padding: 5px;
}

.shortInput {
    width: 75px;
}

.centerTextAlign    {
    text-align: center;
    font-size: 25px;
}
/*
 * This is the CSS for the Index Page.
 */
#mIndexLeft	{
	width: 20%;
	min-width: 200px;
	float: left;
	padding: 4px;
	background: #FFEFBF;
}

#mIndexRight	{
	width: 70%;
	min-width: 800px;
	float: left;
	padding: 4px;
	background: #FFEFBF;
}

#catOptions 	{
	list-style-type: none;
	padding: 10px;
	padding-left: 20px;
}

#catOptions  a, #catOptions a:link, #catOptions a:active	{
	color: black;
	text-decoration: none;
	font-size: 18px;
}

#catOptions a:hover	{
	font-size: 20px;
	text-decoration: underline;
}

#leftIndexHeading	{
	font-size: 25px;
	font-color: black;
	font-weight: bold;
	text-align: center;
}

#mRightIndexContent	{
	padding: 10px;
	margin: 5px;
}

#mRightIndexContent	 a	{
	font-size: 20px;
	color: black;
}

#mRightIndexContent  a:hover	{
	color: black;
	text-decoration: underline;
}

.itemHolder	{
	width: 200px;
	padding: 5px;
	border: 1px solid black;
	float: left;
}

.itemImageHolder	{
	width: 75%;
	margin: 0 auto;
}

.itemNameHolder	{
	height: 20px;
	width: 100%;
	text-align: center;
}

.itemPriceQtyHolder	{
	width: 100%;
}

.itemPriceLeft	{
	width: 45%;
	float: left;
	padding-left: 5px;
	text-align: left;
}

.itemQtyRight	{
	width: 45%;
	float: right;
	padding-right: 5px;
	text-align: right;
}

/*
 * End of the Index Page CSS.
 */
 
/*
 * This is the CSS for the showItem Page.
 */ 
#mShowItem	{
	background: #FFEFBF;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}
 
 
#mShowItemImageHolder	{
	width: 200px;
	float: left;
	margin-left: 150px;
	margin-top : 50px;
	
}

#mShowItemTableWrapper	{
	width: 50%;
	text-align: center;
	margin-top : 50px;
	float: right;
}

#mShowItemRatings	{
	width: 90%;
	margin: 0 auto;
	text-align: left;
	padding: 5px;
}

#mShowItemNameHolder	{
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	text-indent: 100px;
	background: #191714;
	color: #FFFFFF;
	margin-left: -10px;
}

#mShowItemName	{
	padding: 0px;
}

#mShowItemRatings	{
	max-height: 500px;
	overflow: auto;
}

.ratingHolder	{
	width: 100%;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.ratingText		{
	text-indent: 20px;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 5px;
}

.ratingValUserHolder	{
	padding: 5px;
	height: 30px;
	background: #191714;
	color: white;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

.ratingValHolder	{
	width: 40%;
	float: right;
	padding: 0px;
}

.ratingValText	{
	padding: 0px;
	margin: 0px;
	padding-right: 50px;
	float: right;
	text-align: right;
}

.ratingUserHolder	{
	widht: 50%;
	float: left;
	text-align: left;
}

.ratingUserText	{
	margin: 0px;
	padding: 0px;
	padding-left: 50px;
	font-weight: bold;
}

.clearDiv	{
	clear: both;
}

.itemStatsTable	{
	width: 60%;
	border: 0px;
	text-align: left;
}

.itemStatsTable input[type=text]	{
	width: 50px;
	vertical-align: middle;
	background: white;
	margin-bottom: 0px;
	margin-left: 20px;
	color: black;
}

.itemStatsTable a, .itemStatsTable a:link, .itemStatsTable a:visited{
	border: 1px;
	background: #191714;
	color: white;
	border-radius: 0.5em;
	padding: 5px;
	font-weight: bold;
	text-shadow: 2px 2px #444444;
	margin-bottom: 0px;
}

/*
 * This is the end of the showItem page.
 */
 
/*
 * This is the CSS for the Seller | Home Page.
 */
#mSellerLeft	{
	width: 20%;
	min-width: 200px;
	float: left;
	background: #FFEFBF;
}

#mSellerRight	{
	width: 75%;
	min-width: 600px;
	float: left;
	background: #FFEFBF;
}

#mSellerLeft ul 	{
	list-style-type: none;
	font-size: 20px;
}


#mSellerLeft a {
	color: black;
	text-decoration: none;
}

#mSellerLeft a:link, a:visited	{
	color: black;
	text-decoration: none;
}

#mSellerLeft a:hover	{
	text-decoration: underline;
	font-size: 22px;
}

#sellerStatHolder	{
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.sellerStatTable	{
	width : 100%;
	border: 2px solid #191714;
}

.sellerStatTable	th{
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid #191714;
}
/*
 * This is the UI for the NavBar
 */

#navBar {
    width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #5E5C62;
	padding: 5px;
	color: white;
}

#navBar	a	{
	color: #FFFFFF;
	text-decoration: none;
}

#navBar	a:link	, #navBar a:visited{
	color: #FFFFFF;
	text-decoration: none;
}

#navBar a:hover	{
	text-decoration: underline;
}


#navBar ul  {
    list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#navBar li  {
    display: inline;
    padding-right: 10px;
}

.leftUL	{
	width: 45%;
	float: left;
	text-align: left;
}

.rightUL	{
	width: 45%;
	float: right;
	text-align: right;
}

/*
 * End of navbar.
 */

/*
 * This is the CSS for the myBasket page.
 */
#mBasketWrapper	{
	width: 100%;
	background: #FFEFBF;
	padding: 5px;
}

#mBasketLeft	{
	width: 20%;
	padding: 5px;
	float: left;
	margin-top: 20px;
}

#mBasketLeft ul 	{
	padding: 5px;
	margin: 5px;
	list-style-type: none;
}

/*#mBasketLeft li 	{
	padding: 5px;
	margin: 0px;
}*/

#mBasketRight	{
	width: 75%;
	padding: 5px;
	float:left;
}


#mBasketSelections	a, #mBasketSelections a:link, #mBasketSelections a:visited	{
	color: black;
	font-size: 20px;
	text-decoration: none;
}

/* The table that holds the item details */

#mBasketTable	{
	width: 100%;
	border: 0px;
	margin-top: 20px;
}

#mBasketTable td , tr, th 	{
	border: 1px solid black;
}

#mBasketTable td.mBasketTableImage	{
	width: 25%;
	vertical-align: middle;
	text-align: center;
}

#mBasketTable td.mBasketTableName	{
	width: 35%;
	vertical-align: middle;
	text-align: left;
}

#mBasketTable td.mBasketTableQty , td.mBasketTablePrice, td.mBasketTableTCost{
	width: 10%;
	vertical-align: middle;
	text-align:center;
}

#mBasketTable td.mBasketTableTotal	{
	width: 10%;
	text-align: center;
}
/*
 * This is some styles that are used on many pages.
 */

.errorMessageMedium    {
    color: Red;
    font-size: 20px;
}

.highPadMarCen	{
	padding: 10px;
	margin: 10px;
	text-align: center;
}

.centerBold	{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.leftBold	{
	font-size: 23px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
}

.boldLarge	{
	font-weight: bold;
	font-size: 24px;
}

.centerTableCell	{
	width: 100%;
	text-align: center;
}